body {
	font-family: Arial, Verdana, sans-serif;
	width: 90%;
	margin: 0 auto;
	color: #031e4a; /* navy blue */
	background-color: #D2B48C; /* tan */
	font-weight: bold;
	font-size: 200%;
}

#root {
	display: grid;
	grid-template-columns: 2fr auto;
}

article {
	width: fit-content;
    outline-style: solid;
}

div.relax {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 3;
	display:inline-flex;
	align-items: center;
	justify-content: center;
}

div.reactionButtons {
	display: flex;
	justify-content: center;
}

div.reactionButtons > button {
	width: 100%;
}

div.help {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 3;
	display:inline-flex;
	align-items: center;
	justify-content: center;
}

div.relax > img {
	height: 20em;
}

textarea.autoresize {
	resize: none;
	display: block; 
	overflow: hidden;
}

button {
	font-size: inherit;
	background-color: #031e4a; /* navy blue */
	color: #D2B48C; /* tan */
}

button.selected {
	color: #031e4a; /* navy blue */
	background-color: #D2B48C; /* tan */
}

button.startButton {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 3;
	width: fit-content;
	align-self: center;
	justify-self: center;
	margin-top: 15%;
	font-size: inherit;
}

div.nav {
	grid-row-start: 1;
	grid-column-start: 1;
	grid-column-end: 3;

	display: flex;
	justify-content: center;

	margin-bottom: 1em;
}

div.poem {
	grid-column-start: 1; 
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;

	display: grid;
	padding: .25em;
	border:solid;
}

h2.title {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}

div.lines {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

span.line {
	display: grid;
	grid-template-columns: 7fr 1fr;
	align-items: end;
}

span.line > textarea {
	font-size: inherit;
	margin: 1%;
	
	grid-column-start: 1;
	grid-column-end: 2;
}

span.line > h4 {
	grid-column-start: 2;
	grid-column-end: 3;
}

div.history {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 5;

	display: inline-flex;
	flex-direction: column;
	align-items: flex-end;
}

div.row {
	display: inline-flex;
	justify-content: space-evenly;
}

div.title {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	font-size: inherit;
	display: inline-flex;
}

textarea.title {
	font-size: inherit;
	flex: 2 2 1;
}

textarea.title > span {
	flex: 2 2 1;
}

textarea {
	font-family: inherit;
	font-weight: bold;
	color: #031e4a; /* navy blue */
	background-color: #D2B48C; /* tan */
	margin: 1%;
	resize: none;
}

textarea.focus {
	outline: none;
}

div.currentWord {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	outline: solid;
	font-size: inherit;
	padding: .25em;
	margin-top: .1em;
	margin-bottom: .1em;
	margin-left: .25em;
	margin-right: 0;

	display: grid;
}

h1.currentWordDisplay {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 3;
	justify-self: center;
}

textarea.currentWordSyllableCount {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	font-size: inherit;
	resize: auto;
	width: 10%;

}

textarea.currentWordSyllableText {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
	font-size: inherit;
	resize: none;
	border: none;
}

textarea.currentDefinition {
	font-size: inherit;
	resize: none;
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 3;
}

h4.counter {
	margin: 1%;
	margin-right: 0%;
	margin-left: 0%;
	float: left;
}

.underline {
	text-decoration: underline;
}

.hidden {
	display: none;
}

/* https://projects.lukehaas.me/css-loaders/ */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #031e4a;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #d2b48c;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #d2b48c;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}