body {
	font-family: Arial, Verdana, sans-serif;
	width: 90%;
	margin: 0 auto;
	color: #031e4a; /* navy blue */
	background-color: #D2B48C; /* tan */
	font-weight: bold;
	font-size: 200%;
}

#root {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

div.relax {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 3;
	display:inline-flex;
	align-items: center;
	justify-content: center;
}

div.help {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 3;
	display:inline-flex;
	align-items: center;
	justify-content: center;
}

div.relax > img {
	height: 20em;
}

textarea.autoresize {
	resize: none;
	display: block; 
	overflow: hidden;
}

button {
	font-size: inherit;
	background-color: #031e4a; /* navy blue */
	color: #D2B48C; /* tan */
}

button.selected {
	color: #031e4a; /* navy blue */
	background-color: #D2B48C; /* tan */
}

button.startButton {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 3;
	width: fit-content;
	align-self: center;
	justify-self: center;
	margin-top: 15%;
	font-size: inherit;
}

div.nav {
	grid-row-start: 1;
	grid-column-start: 1;
	grid-column-end: 3;

	display: flex;
	justify-content: center;

	margin-bottom: 1em;
}

div.poem {
	grid-column-start: 1; 
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;

	display: grid;
	padding: .25em;
}

h2.title {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}

div.lines {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

span.line {
	display: grid;
	grid-template-columns: 7fr 1fr;
	align-items: end;
}

span.line > textarea {
	font-size: inherit;
	margin: 1%;
	
	grid-column-start: 1;
	grid-column-end: 2;
}

span.line > h4 {
	grid-column-start: 2;
	grid-column-end: 3;
}

div.history {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 5;

	display: inline-flex;
	flex-direction: column;
	align-items: flex-end;
}

div.row {
	display: inline-flex;
	justify-content: space-evenly;
}

div.title {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	font-size: inherit;
	display: inline-flex;
}

textarea.title {
	font-size: inherit;
	flex: 2 2 1;
}

textarea.title > span {
	flex: 2 2 1;
}

textarea {
	font-family: inherit;
	font-weight: bold;
	color: #031e4a; /* navy blue */
	background-color: #D2B48C; /* tan */
	margin: 1%;
	resize: none;
}

textarea.focus {
	outline: none;
}

div.currentWord {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	outline: dashed;
	font-size: inherit;
	padding: .25em;
	margin-top: .5em;
	margin-left: .25em;

	display: grid;
}

h1.currentWordDisplay {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 3;
	justify-self: center;
}

textarea.currentWordSyllableCount {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	font-size: inherit;
	resize: auto;
	width: 10%;

}

textarea.currentWordSyllableText {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
	font-size: inherit;
	resize: none;
	border: none;
}

textarea.currentDefinition {
	font-size: inherit;
	resize: none;
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 3;
}

h4.counter {
	margin: 1%;
	margin-right: 0%;
	margin-left: 0%;
	float: left;
}

.underline {
	text-decoration: underline;
}

.hidden {
	display: none;
}

